/* CSS files --> contact.html */
body{
    background-color: #DAD5AB;
}
table{
    width:100%; 
    text-align: center;
    background-color: #C3BA85;
}
h1{
    text-align: center;
    font-family: cursive;
    background-color: #F1ECC3;
}
